* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

.wrapper {
  width: 100%;
  height: 100vh;
  background-color: #ffffec;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.note-container {
  width: 50%;
  height: 50%;
  background-color: #f1e4c3;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 10px;
  border: outset;
}

.title {
  font-size: 3rem;
  font-family: cursive, sans-serif;
  color: #597e52;
  letter-spacing: 2px;
  margin-bottom: 10px;
}

.note-layout {
  width: 80%;
  height: 70%;
  background-color: #c6a969;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.add-items {
  width: 40%;
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.add-items input {
  height: 20%;
  width: 100%;
  margin-bottom: 10px;
  border: none;
  border-radius: 5px;
  padding: 10px;
}

.add-items button {
  width: 50%;
  height: 20%;
  border: none;
  border-radius: 5px;
  color: #597e52;
  transition: all 0.2s ease-in-out;
}

.add-items button:hover {
  width: 52%;
  height: 21%;
}

.added-items {
  width: 40%;
  height: 70%;
  background-color: #ffffec;
  padding: 10px;
}

.added-items ul {
  margin-left: 18px;
}

.added-items ul li {
  color: #597e52;
  font-family: cursive, sans-serif;
  list-style: circle;
}
